/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.register,
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  min-height: 100vh;
  padding: 0 1.5em;
}

/* TYPOGRAPHY */
.highlight {
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
}

.intro_eyebrow {
  font-size: 0.75rem;
  border-top: 0.2rem solid orange;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.intro_subtitle {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.register_title {
  font-size: 1.8rem;
}

.register_subtitle {
  font-size: 1rem;
  margin-bottom: 3em;
}

.register_text {
  font-size: 0.8rem;
  line-height: 1.3;
}

.register_note {
  font-size: 0.53rem;
}

/* INTRO SECTION */
.intro {
  justify-content: space-between;
  background-image: url(./img/main_img.png);
  background-size: cover;
  color: white;
  background-position: 68% center;
  background-repeat: no-repeat;
}

/* REGISTER SECTION */
.register {
  justify-content: center;
}

.register_text,
.register_form {
  width: 100%;
  max-width: 28rem;
}

.register_form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  border-radius: 0.3rem;
  width: 80%;
  margin: 0 auto;
}

input {
  text-align: center;
  padding: 0.3em;
  border: 1px solid #777777;
}

input::placeholder {
  color: #777777;
}

.register_btn {
  font-size: 0.7em;
  text-transform: uppercase;
  background: orange;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.6em;
  box-shadow: 1px 1px 1px #777777;
}

/* MEDIA QUERIES */
@media (max-width: 576px) {
  main {
    flex-direction: column;
  }

  .intro {
    min-height: 50vh;
  }

  .register {
    min-height: auto;
    padding: 2em 1.5em;
  }

  .intro_subtitle {
    font-size: 1.2rem;
  }

  .register_subtitle {
    margin-bottom: 1.5em;
  }
}
